@model IEnumerable<LET.Panopto.Scheduler.Models.ScheduleBlockResult>

@{
    ViewData["Title"] = "CreateSchedulingEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <div style="padding-top: 10px; padding-bottom: 20px;">
        @if (@Model.FirstOrDefault().ConflictExists) {
        <span style="font-size: 26px; color: red; font-weight: bolder;">@Model.FirstOrDefault().SessionMessage</span>
        } else {
        <span style="font-size: 26px; color: green; font-weight: bolder;">@Model.FirstOrDefault().SessionMessage</span> }
    </div>
</div>
