@model EFGetStarted.AspNetCore.ExistingDb.Models.FolderList

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>FolderList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModuleId" class="control-label"></label>
                <select asp-for="ModuleId" class="form-control" asp-items="ViewBag.ModuleId"></select>
                <span asp-validation-for="ModuleId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="FolderId" />
            <div class="form-group">
                <label asp-for="FolderSequence" class="control-label"></label>
                <input asp-for="FolderSequence" class="form-control" />
                <span asp-validation-for="FolderSequence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolderDisplayName" class="control-label"></label>
                <input asp-for="FolderDisplayName" class="form-control" />
                <span asp-validation-for="FolderDisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolderDateTimeStart" class="control-label"></label>
                <input asp-for="FolderDateTimeStart" class="form-control" />
                <span asp-validation-for="FolderDateTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Hidden" /> @Html.DisplayNameFor(model => model.Hidden)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ShowStartDate" class="control-label"></label>
                <input asp-for="ShowStartDate" class="form-control" />
                <span asp-validation-for="ShowStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowEndDate" class="control-label"></label>
                <input asp-for="ShowEndDate" class="form-control" />
                <span asp-validation-for="ShowEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HasCustomAcl" /> @Html.DisplayNameFor(model => model.HasCustomAcl)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
